name: Dependency Check
on:
  pull_request:
jobs:
  dependency-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: '17'
      - run: mvn verify -P dependency-check -DskipTests
