name: Spell Check
on:
  push:
    branches:
      - '*'
  pull_request:
jobs:
  spell-check:
    runs-on: ubuntu-latest
    if: (github.actor != 'dependabot[bot]')
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: '16'
      - run: npm install -g cspell
      - run: cspell "**/*.md"
